body {
  	color: black;
  	background-image: url('mit1.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: 1;
}

.cont1 {
	text-align: center;
	color: darkblue;
	background-color: azure;
	border: 1px azure;
	margin-top: 20px;
	margin-left: 250px;
	margin-right: 250px;
}

#head5 {
	text-align: center;
	font-size: 12px;
}

#p1, #p4 {
	position: relative;
	top: 1%;
	color: black;
	font-size: 17px;
}

#p2 {
	color: midnightblue;
}

#p1,#head3,#head3_1,#head3_2,#head3_3 {
	text-decoration: underline;
}

#head3, #head3_1, #head3_2, #head3_3 {
	background-color: cornsilk;
	font-size: 20px;
	color: black;
}

#head3_3 {
	margin-right: 850px;
	font-size: 20px;
	color: black;
} 

#head4 {
	color: black;
}


#head4, #p2 {
	background-color: pink;
	padding: 50px, 50px, 50px, 50px;
	font-size: 20px;
}

.cont,.cont2 {
	font-size: 17px;
	color: maroon;
}

table, th, td {
	width: 30%;
	border: 1px solid black;
}

table {
	margin-left: 20px;
	font-size: 15px;
	color: maroon;
}

#subm {
	position: relative;
	left: 50%;
}

.i2 {
	position: absolute;
	left: 10%;
	top: 0.5%;
	float: left;
	width: 90px;
	height: 80px;
	position: absolute;
	right: 10%;
	opacity: 0.8;
}

.i1 {
	float: right;
	margin-right: 30px;
	opacity: 0.9;
}

.i3 {
	position: absolute;
	float: right;
	right: 340px;
	top: 705px;
	opacity: 0.8;
}

.i4 {
	position: absolute;
	float: right;
	right: 30px;
	top: 705px;
	opacity: 0.8;
}

.tb1,.tb2,.tb5,.tb6 {
	background-color: #ffffff;
	opacity: 0.8;
	margin: 30px;
	padding-bottom: 10px;
	padding-left: 5px;
}

.tb5,.tb2,.tb6 {
	margin-right: 680px;
}

.tb10 {
	opacity: 0.8;
	margin: 30px;
}

.tb4 {
	opacity: 0.8;
	margin-right: 680px;
	margin-left: 30px;
}

.tb8 {
	background-color: antiquewhite;
	opacity: 0.8;
	margin: 30px;
	color: indigo;
	padding-left: 5px;
	padding-bottom: 5px; 
}

form {
	font-size: 15px
}
